* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: #cbe6e4;
}

.nav {
    padding: 6px 20px 6px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #bad2ea;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}

.nav span {
    color: black;
    cursor: pointer;
}

.nav span:hover {
    color: red;
}

.page-header {
    background-color: #159957;
    background-image: linear-gradient(120deg, #255e97, #28c275);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(19, 17, 17);
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vh 2vh;
    align-items: center;
}

.name {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px
}

.name:hover {
    transition: .1s;
    text-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 50px #0ebeff, 0 0 100px #0ebeff, 0 0 200px #0ebeff;
}

.main-intro {
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.8;
    margin: 5px;
    width: 90%;
    font-family: "Gill Sans", sans-serif;
}

.school {
    text-decoration: none;
    color: #121314;
    position: relative;
}

.school:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: rgb(185, 151, 91);
}

.school:hover:after {
    top: 0%
}

.starwars {
    margin-bottom: -13px;
    width: 85px;
    height: 45px;
}

.zhihu {
    color: blue;
}

.zhihu:hover {
    text-decoration: none;
}

.timeline {
    position: relative;
    max-width: 1000px;
    top: 25px;
    bottom: 25px;
    margin: 0 auto;
    /* background-color: white; */
    background-image: url("images/timelineBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* color for the content */
.timeline p {
    color: #eef225c7;
    font-size: 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #4683cb;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline a:hover {
    text-decoration: none;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: black;
    border: 4px solid #e7e7e2;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(88 125 118);
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(88 125 118) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 10px 15px;
    background-color: rgb(88 125 118);
    position: relative;
    border-radius: 6px;
    color: white;
}

/* Media queries for timeline */
@media screen and (max-width: 650px) {
    .timeline {
        position: relative;
        max-width: 1000px;
        top: 20px;
        bottom: 25px;
        margin: 0 auto;
        /* background-color: white; */
        background-image: url("images/timelineBackground.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    .timeline h2 {
        font-size: 19px;
    }

    .timeline p {
        color: #eef225c7;
        font-size: 17px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(88 125 118) transparent transparent;
    }

    /* The circles on the timeline */
    .container::after {
        content: '';
        position: absolute;
        width: 23px;
        height: 23px;
        right: -17px;
        background-color: black;
        border: 4px solid #e7e7e2;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 16px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin-top: 65px;
    height: 100vh;
    background-image: url("images/contactBackground.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.contact_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 55px;
    text-shadow: 0 0 6px #c55050;
    color: #0512fead;
}

.email_box {
    font-size: 2em;
    padding: 15px;
    background: rgb(125, 0, 0);
    border-color: rgb(125, 0, 0);
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    font-family: SiYuanHeiTi,Helvetica,Arial,sans-serif;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 50%);
    color: white;
}

h1 span {
    position: relative;
    display: inline-block;
    animation: bounce .4s ease infinite alternate;
    font-family: 'Titan One', cursive;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) {
    animation-delay: .1s;
}

h1 span:nth-child(3) {
    animation-delay: .2s;
}

h1 span:nth-child(4) {
    animation-delay: .3s;
}

h1 span:nth-child(5) {
    animation-delay: .4s;
}

h1 span:nth-child(6) {
    animation-delay: .5s;
}

h1 span:nth-child(7) {
    animation-delay: .6s;
}

h1 span:nth-child(8) {
    animation-delay: .7s;
}

h1 span:nth-child(9) {
    animation-delay: .8s;
}

h1 span:nth-child(10) {
    animation-delay: .9s;
}

h1 span:nth-child(11) {
    animation-delay: 1s;
}



@media screen and (min-width: 64em) {
    .page-header {
        padding: 3rem 5rem 5rem 5rem;
    }

    .page-intro {
        font-size: 3.5rem;
    }

    h1 {
        height: 6rem;
    }

    h1 span {
        top: 25px;
        font-size: 5rem;
    }

    @keyframes bounce {
        100% {
            top: -25px;
            text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 #CCC,
                0 7px 0 #CCC,
                0 8px 0 #CCC,
                0 9px 0 #CCC,
                0 50px 25px rgba(0, 0, 0, .2);
        }
    }
}

@media only screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 2rem 4rem 3rem 4rem;
    }

    .page-intro {
        font-size: 2.75rem;
    }

    h1 {
        height: 5rem;
    }

    h1 span {
        top: 20px;
        font-size: 4rem;
    }

    @keyframes bounce {
        100% {
            top: -20px;
            text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 #CCC,
                0 7px 0 #CCC,
                0 8px 0 #CCC,
                0 9px 0 #CCC,
                0 50px 25px rgba(0, 0, 0, .2);
        }
    }
}

@media only screen and (max-width: 833px) {
    .page-header {
        padding: 1rem 2rem;
    }

    .page-intro {
        font-size: 2rem;
    }

    h1 {
        height: 4rem;
    }

    h1 span {
        top: 15px;
        font-size: 2.1rem;
    }

    @keyframes bounce {
        100% {
            top: -15px;
            text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 #CCC,
                0 7px 0 #CCC,
                0 8px 0 #CCC,
                0 9px 0 #CCC,
                0 50px 25px rgba(0, 0, 0, .2);
        }
    }

    .name {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 18px;
        text-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 50px #0ebeff, 0 0 100px #0ebeff, 0 0 200px #0ebeff;
    }

    .main-intro {
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.5;
        margin: 5px 10px;
        font-family: "Gill Sans", sans-serif;
    }

    .starwars {
        margin-bottom: -8px;
        width: 58px;
        height: 28px;
    }

    .contact {
        margin-top: 65px;
        height: 100vh;
        background-image: url("images/white1.jpeg");
        background-size: cover;
        background-attachment: fixed;
    }

    .contact_header {
        margin-top: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 35px;
        text-shadow: 0 0 6px #c55050;
        color: #0512fead;
    }

    .email_box {
        font-size: 1.5em;
        padding: 10px;
        background: rgb(125, 0, 0);
        border-color: rgb(125, 0, 0);
        line-height: 1.5;
        cursor: pointer;
        border-radius: 4px;
        font-family: SiYuanHeiTi,Helvetica,Arial,sans-serif;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 50%);
        color: white;
    }
}